########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log

########################
# typescript
########################
.tscache


########################
# sublime text
########################
*.sublime-project
*.sublime-workspace
.sublimets

########################
# visual studio
########################
obj
*.sln
*.suo
*.njsproj


########################
# project
########################
config.json